Source: node-sprinklerswitch
Section: javascript
Priority: optional
Maintainer: DeckerEgo <john@deckerego.net>
Uploaders: DeckerEgo <john@deckerego.net>
Build-Depends: nodejs (>= 6), pkg-js-tools (>= 0.8.10)
Standards-Version: 4.7.0
Homepage: https://hackaday.io/project/7566-sprinkler-switch
Vcs-Git: git@github.com:deckerego/SprinklerSwitch.git
Vcs-Browser: https://github.com/deckerego/SprinklerSwitch/

Package: node-sprinklerswitch
Architecture: all
Depends: ${misc:Depends}, nodejs
Description: A service to manage your home lawn irrigation controller and intelligently enable or disable your sprinkler system